<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ListasDeControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <App.Properties.Settings>
            <setting name="urlOfac" serializeAs="String">
                <value>http://www.treasury.gov/ofac/downloads/sdn.xml</value>
            </setting>
            <setting name="urlOnu" serializeAs="String">
                <value>http://www.un.org/sc/committees/1267/AQList.xml</value>
            </setting>
            <setting name="BaseDatos" serializeAs="String">
                <value>si</value>
            </setting>
            <setting name="Servidor" serializeAs="String">
                <value />
            </setting>
            <setting name="Puerto" serializeAs="String">
                <value />
            </setting>
        </App.Properties.Settings>
        <ListasDeControl.Properties.Settings>
            <setting name="urlOfac" serializeAs="String">
                <value>http://www.treasury.gov/ofac/downloads/sdn.xml</value>
            </setting>
            <setting name="urlOnu" serializeAs="String">
                <value>http://www.un.org/sc/committees/1267/AQList.xml</value>
            </setting>
        </ListasDeControl.Properties.Settings>
    </userSettings>
</configuration>